#testtables{border-collapse: collapse;}
.r1{background-color: blue; }
.r2{background-color: orange;}

#table2{border-collapse: collapse;}
.m1{background-color: blue; }
.m2{background-color: plum;}

